mixin burstCard(burst = {})
  .burst.card.shaded
    div.flex-container-row.justify-center
      a(href=`/genre/${burst.genre === 'tragedy' ? 'tragedy' : 'comedy'}`)
        img(src=`/images/icons/${burst.genre === 'tragedy' ? 'tragedy' : 'comedy'}.svg` width="50px" height="50px")
    h2.flex-container-row.justify-center.txt-center
      a(href=`/burst/${burst.slug}`) #{burst.name}
    h3.flex-container-row.justify-center
      a(href=`/author/${burst.author.slug}`)= burst.author.name
    //- pre= h.dump(burst)
    a(class="unstyled" href=`burst/${burst.slug}`)
      each line, i in h.processNewLines(burst.content)
        if i < 3
          p= line
