mixin burstCard(burst = {})
  .burst.card.shaded
    h2.flex-container-row.justify-center.txt-center
      a(href=`burst/${burst.slug}`) #{burst.name}
    h3.flex-container-row.justify-center= burst.author
    p= burst.content
    textarea= h.dump(burst)
